.color-danger {
  color: #e74c3c;
}
.color-warning {
  color: #f1c40f;
}
.color-success {
  color: #2ecc71;
}

button {
  display: inline-block;
  margin: 0 5px;
  border-radius: 6px;
  font-size: 16px;
  padding: 12px 20px;
  border: 0;
  background: #59a5dc;
  color: #FFF;
  cursor: pointer;
  outline: 0;
  min-width: 160px;
}
button > span {
  margin-left: 10px;
}

.stn-header-container {
  width: 100%;
  height: 101px;
  position: fixed;
  top: 0;
  overflow: hidden;
  vertical-align: middle;
  padding-top: 30px;
  background-color: #F4F6F9;  
}

.stn-header {
  background-color: #F4F6F9;
  margin-top: 15px !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #59a5dc;
  z-index: 100;
}

.stn-header h2 {
  margin: 0px;
}

.stn-header .stn-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 20px 30px 20px 30px;
}
.stn-header-inner {
  min-height: 42px;
}

.stn-header,
.stn-content-container,
.location-denied-alert {
  width: 80%;
  max-width: 1000px;
}
.stn-header,
.stn-content-container {
  
  margin: 0 auto;
  box-shadow: 0px 3px 6px 1px #D7D9DB;
  border: 2px solid #59a5dc;
}

a:hover,
a {
    color: #59a5dc;
}

.stn-header-inner .fa-warehouse {
  margin-right: 5px;
}
.stn-header-inner .fa-chevron-left {
  margin-right: 20px;
}

.location-denied-alert {
  display: flex;
  margin: 0 auto;
  background-color: #f8d7da;
  margin-top: 138px;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #491217;
  color: #491217;
  font-size: 18px;
}

.location-denied-alert span{
  padding: 20px;
}

.stn-content-container {  
  background-color: white;
  margin-top: 131px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: 0px;
  margin-bottom: 60px;
}

.stn-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.stn-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px 20px 30px;
  cursor: pointer;
}
.stn-list-item h4 {
  margin: 0px;
  font-size: 20px;
}
.stn-list-item > span > span {
  color: #626569;
  padding-top: 5px;
  display: inline-block;
  font-size: 16px;
  font-style: italic;
}
.stn-list-item > span > span > span {
  font-weight: bold;
}

.stn-list-item:hover {
  background-color: #EFF6FB;
}
.stn-list li:last-child > div {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.stn-status-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.stn-status-container h1 {
  display: block;
  padding-top: 30px;
  font-size: 38px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.status-info > span {
  font-weight: bold;
  margin-right: 15px;
}

.stn-status-box {
  font-size: 32px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 30px 0px 30px 0px;
}

.stn-status-box > .status-info:first-child {
  margin-right: 20px;
}

.stn-status-box > .status-info:nth-child(2) {
  margin-left: 20px;
}

.stn-status-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 30px 0px 30px 0px;
  font-style: italic;
}

.loading-container {
  padding-top: 15px;
  padding-bottom: 15px;
  vertical-align: middle;
}
.spinner {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

@media only screen and (max-width: 505px) {
  
  button {
    min-width: 30px;
  }
  button > span {
    display: none;
  }
  .stn-header,
  .stn-content-container,
  .location-denied-alert {
    width: 90%;
  }
}

/*
CUSTOM SPINNER FOR LOADING FROM http://tobiasahlin.com/spinkit/
*/
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}